@tailwind base;
@tailwind components;
@tailwind utilities;

.BgFuncionalidade {
    @apply bg-inicial h-[100%] block m-auto p-0;
}

.ContainerIntegrantes {
    @apply flex mt-16 pb-8 items-start justify-center;
}

.IntegrantesTitulo {
    @apply xl:text-[32px] rounded-xl px-10 bg-fiap xl:w-[20vw] mobile:w-[50vw];
}

.IntegrantesInfo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 1rem;
    text-align: center;
}

.IntegrantesInfo figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.IntegrantesInfo img {
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.IntegrantesInfo .nome,
.IntegrantesInfo .rm,
.IntegrantesInfo .social-links {
    margin-top: 0.5rem;
}

.IntegrantesInfo .nome {
    font-weight: bold;
    color: #333;
}

.IntegrantesInfo .rm {
    font-size: 0.9rem;
    color: #555;
}

.social-links {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.social-links a {
    display: inline-block;
}

.social-links img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

@media (max-width: 1024px) {
    .IntegrantesInfo {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .IntegrantesInfo {
        grid-template-columns: 1fr;
    }
}
